<label style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;">Server Name</label>
<!--<input 
    type="text" 
    class="form-control"
    (input)="onUpdateServerName($event)"
>-->

<!--Two way DataBinding-->
<input
    type="text"
    class="form-control"
    [(ngModel)]="serverName" 
>
<hr>

<br />

<!--
//Everything that it's written on the inpu field above, will appear automatically in this tag 
<p>{{ serverName }}</p>
-->

<button 
    class="btn btn-primary" 
    [disabled]="!allowNewServer"
    (click)="onCreateServer() ">
    Add Server
</button>

<br />
<br />

<!--<p [innetText]="allowNewServer"></p>-->
<!--<p>{{ serverCreationStatus }}</p> -->

<!--Using directive. The * is required-->
<p *ngIf="serverCreated; else noServer">Server was created! Server name is {{ serverName }}</p>
<!--Local referente to when the above condition it's not true-->
<!--Ng template is a template element that Angular uses with structural directives-->
<ng-template #noServer>
    <p>
        No server was created
    </p>
</ng-template>

<app-server></app-server>
<app-server></app-server>

