<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm in the AppComponent!</h3>
            <hr>
            
            <!--************** USING SELECTOR BY CLASS **************-->
            <!--<div class="app-servers"></div>-->
            <!--************** USING SELECTOR BY CLASS **************-->

            <!--************** USING SELECTOR BY ATRIBUTE **************-->
            <!--<div app-servers></div>-->
            <!--************** USING SELECTOR BY ATRIBUTE **************-->

            <!--************** USING SELECTOR BY ELEMENT **************-->
            <app-servers></app-servers>
             <!--************** USING SELECTOR BY ELEMENT **************-->
        </div>
    </div>
</div>